        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="user-profile">
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="./assets/images/users/profile.png" alt="user" /><span class="hide-menu">Steave Jobs </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="javascript:void()">My Profile </a></li>
                                <li><a href="javascript:void()">My Balance</a></li>
                                <li><a href="javascript:void()">Inbox</a></li>
                                <li><a href="javascript:void()">Account Setting</a></li>
                                <li><a href="javascript:void()">Logout</a></li>
                            </ul>
                        </li>
                        <li class="nav-devider"></li>
                        <li class="nav-small-cap">PERSONAL</li>

                        <li> <a class="has-arrow waves-effect waves-dark" routerLink="/dashboard/pieza" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Catalogo </span></a></li>
                        <li> <a class="has-arrow waves-effect waves-dark" routerLink="/dashboard/compra" aria-expanded="false"><i class="fa fa-shopping-basket"></i><span class="hide-menu">Compra </span></a></li>
                        <li> <a class="has-arrow waves-effect waves-dark" routerLink="/dashboard/venta" aria-expanded="false"><i class="fa fa-shopping-bag"></i><span class="hide-menu">Venta </span></a></li>
                        <li> <a class="has-arrow waves-effect waves-dark" routerLink="/dashboard/inventario" aria-expanded="false"><i class="fa fa-reorder"></i><span class="hide-menu">Inventario </span></a></li>
                        <li> <a class="has-arrow waves-effect waves-dark" routerLink="/dashboard/movimientos" aria-expanded="false"><i class="fa fa-exchange"></i><span class="hide-menu">Movimientos </span></a></li>

                       
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        